NODE_ENV=development
PORT=5000
API_PREFIX=/api/v1

APP_NAME=Spark Tech API
APP_ORIGIN=http://localhost:3000
LOG_LEVEL=debug

MONGODB_URI=mongodb://root:rootpassword@localhost:27017/spark-tech?authSource=admin

REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=
REDIS_DB=0

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=spark-tech
MINIO_USE_SSL=false

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=300
